@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl;
  /* Tailwind class for 48px font-size */
}

h2 {
  @apply text-3xl;
  /* Tailwind class for 40px font-size */
}

h3 {
  @apply text-2xl;
  /* Tailwind class for 32px font-size */
}

h4 {
  @apply text-xl;
  /* Tailwind class for 24px font-size */
}

h5 {
  @apply text-lg;
  /* Tailwind class for 20px font-size */
}

h6 {
  @apply text-base;
  /* Tailwind class for 16px font-size */
}